<div class="modal fade " id="reclamation_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
				<div class="row w-100 align-items-center">
          <i class="fas fa-arrow-alt-circle-left mr-2 btn-return return-suivi" style="font-size: 1.3rem!important;"></i>
          <h6 class="modal-title mr-auto">Détails de la réclamation</h6>
          {# <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button> #}
        </div>
      </div>
      <div class="modal-body" id="infos_reclamation">
        

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
