<label>Réclamation:</label>
<div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>Objet:</label>
              <textarea class="form-control" rows="3" disabled="">{{ reclamation.objet }}</textarea>
            </div>
          </div>
          <div class="col-9">
            <div class="form-group">
              <label>Observation: </label>
              <textarea class="form-control" rows="3" disabled="">{{ reclamation.observation }}</textarea>
            </div>
          </div>
</div>