<div class="row">
	<div class="col-12">
		<label>Détails:</label>

		<table id="datatables_dets" style="width: 100% !important" class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th width="">Article</th>
					<th>TVA</th>
					<th>Quantité</th>
					<th>prix</th>
				</tr>
			</thead>
			<tbody>
				{% for d in dets %}
					<tr>
						<td>{{d.titre}}</td>
						<td>{{d.tva}}</td>
						<td>{{d.quantite}}</td>
						<td>{{d.prixunitaire}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
