<div class="modal fade" id="autres" style="background: #00000052;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="margin-top: 100px;">
			<div class="modal-header">
			
				<div class="row w-100 align-items-center">
					{# <i class="fas fa-arrow-alt-circle-left mr-2 btn-return return-suivi" style="font-size: 1.3rem!important;"></i> #}
					<h6 class="modal-title">Autres services</h6>
				</div>
				{# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> #}
			</div>
			<div class="modal-body" id="autres_body">
				<form id="formAutres">
					<div class="row">
						<div class="col-3">
							<div class="form-group">
								{# <label>Objet:</label> #}
								{# <textarea class="form-control" rows="3" name="objet">{{ reclamation.objet }}</textarea> #}
								<input class="form-control" rows="3" name="objet" value=""  placeholder="Objet">
							</div>
						</div>
						<div class="col-9">
							<div class="form-group">
								{# <label>Observation:</label> #}
								{# <textarea class="form-control" rows="3" name="observation">{{ reclamation.observation }}</textarea> #}
								<input class="form-control" rows="3" name="observation" value=""  placeholder="Observation">
							</div>
						</div>
					</div>
					{# <div class="row">

						<div class="col-4">
							<div
								class="form-group">
								<input type="text" class="form-control" placeholder="Objet" name="objet" rows="1"></input>
							</div>
						</div>


					</div>
					<div class="row">

						<div class="col-12">
							<div
								class="form-group">
								<input type="text" class="form-control" placeholder="Observation" name="observation" rows="4"></input>
							</div>
						</div>


					</div> #}

				</form>


				<hr>

				<label>Liste des Factures:</label>

				<table id="datatables_facture_ajoute" style="width: 100% !important" class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th width="">N° Facture</th>
							<th width="30%">Date</th>
							<th width="20%">Montant</th>
							<th width="">Piéce jointe</th>
							<th width="5%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input class="form-control" id="numFacture" placeholder="N° Facture"></td>
							<td width="15%"><input class="form-control" type="date" id="date" placeholder="Date"></td>
							<td><input class="form-control" type="number" step="0.01" id="montant" placeholder="Montant"></td>
							{# <td><input class="form-control" id="observation"  placeholder="Observation"></td> #}
							<td><input type="file" class="form-control-file" id="fileUpload" accept=".pdf, .doc, .docx, .txt, .png, .jpeg"></td>
							<td style="width:4% !important">
								<a id="btnAjouterFacture" class="btn btn-secondary btn-xs pull-right" style="width: 20px;">
									<i class="fas fa-plus"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<div class="" style="float: right;">
					<button type="submit" form="formAutres" class="btn btn-danger btn-xs pull-right" style="width: 100px;text-transform: uppercase; background-color: #df6a75; border: #df6a75;">Réclamer</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
