

<div class="modal fade" id="reclamer_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title">Réclamation des factures</h6>
              {# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> #}
            </div>
			<form id="formReclamer">
            	<div class="modal-body">

                <div class="form-group">
                        <label>Objet de réclamation</label>
                        <input class="form-control" name="objet"  placeholder="Objet">
                </div>
                <div class="form-group">
                        <label>Observation de réclamation</label>
                        <textarea class="form-control" name="observation" rows="3" placeholder="Ecrivez votre observation"></textarea>
                </div>
                
				</div>
				<div class="modal-footer justify-content-between" style="float: right;">
					<button type="submit" id="btnReclamerConfirm" class="btn btn-danger btn-xs"><i class="fa fa-exclamation-triangle"></i> Réclamer</button>
				</div>
			</form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
</div>