<div class="modal fade" id="suivi_reclamations" style="background: #00000052;">
	<div class="modal-dialog modal-lg" style="max-width: 75rem!important;">
		<div class="modal-content" style="margin-top: 1rem;">
			<div class="modal-header d-block" style="padding-bottom: 0;">
				<p class="modal-title" style="font-weight: 600;margin:0!important">Suivi de Réclamations</p>
				{# <p style="font-weight: 400;margin:0!important">Reclamations:</p> #}
				{# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> #}
			</div>
			<div class="modal-body" id="autres_body">
				<table id="datatables_gestion_reclamations" class="table table-condensed table-bordered">
					<thead>
						<tr>
							{# <th><input type="checkbox" class="check_all_factures"></th> #}
							<th style="width: 20%">Objet</th>
							<th style="width: 20%">Contenu</th>
							<th style="width: 30%">Réponse</th>
							<!-- <th width="200px">Observation</th> -->
							<th style="width: 10%">Statut</th>
							<th style="width: 10%">Date</th>
							<th style="width: 5%"></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
