

<div class="modal fade" id="password_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title">Changer mot de passe</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
			<form id="save_password_change">
            	<div class="modal-body">

                <div class="form-group">
                        <label>Nouveau mot de pass:</label>
                        <input type="password" class="form-control" name="nv_password"  placeholder="Nouveau mot de pass">
                </div>
                <div class="form-group">
                        <label>Ancien mot de pass:</label>
                        <input type="password" class="form-control" name="an_password"  placeholder="Ancien mot de pass">
                </div>
                
				</div>
        <hr>
				<div class="modal-footer justify-content-between" style="float: right !important;">
					<button type="submit" id="" class="btn btn-success btn-xs"><i class="fa fa-pen"></i> Changer</button>
				</div>
			</form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
</div>