{# <div class="modal fade" id="modalAjouter">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Ajouter un compte fournisseur</h4>
			</div>
			<div class="modal-body">
				<form id="save">

                    <label for="categorie">Fournisseurs:</label>
                    <select class="form-control" name="categorie" id="fournisseurs">
                        <option value="">Choix fournisseurs </option>
                            <option value=""></option>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-success mt-4"><i class="fa fa-check"></i> Créer Compte</button>
                </form>
			</div>
		</div>
	</div>
</div> #}

<div class="modal fade" id="modalAjouter">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajouter un compte fournisseur</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
			<form id="save">
            	<div class="modal-body">
              
                    <label for="categorie">Fournisseurs:</label>
                    <select class="select2 form-control" multiple name="categorie" id="fournisseurs">
                        <option value="" disabled>Choix fournisseurs </option>
                    </select>
                    <br>
                    {# <button type="submit" class="btn btn-success mt-4"><i class="fa fa-check"></i> Créer Compte</button> #}
                
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" id="btnCreeCompte" class="btn btn-success mt-4"><i class="fa fa-check"></i> Créer Compte</button>
				</div>
			</form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
</div>